@font-face {
    font-family: NorseBold;
    src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}

:root{
    font-family: 'sans-serif' 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    margin: 0px;
}
.main-container {
    display: grid;
    grid-template-columns: 30% 70%;
    
    background-color: black;
    height: 120vh;
    margin: 0px;
}

.main-container > div{
    background-color: white;
    margin: 0px;
}

.side-logo{
    background-image: url("/home/user/gitscript/Sign-up-Form/img/afri-back2.jpg"); 
    background-size: cover;
    font-family: 'NorseBold','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

    

.logo{
   display: grid;
   grid-template-columns: 45% 55%;
   background-color:#21222183;
  
   width: 100%;
   margin-top: 80vh;
}
.art-logo{
    width:100%;
    height:100%;
    
}

.art-logo img{
    width:100%;
    height:100%;
    object-fit: cover;
    
}
.logo-say{
    text-align:center;
    color:white;
    
}
.main-body{
    display:grid;
    grid-template-rows: 30% 40% 30%;
    /*grid-row-gap: 2px;*/
    

}
.main-body > div {
   /* background-color: rgb(192, 25, 81);*/
   /* text-align: center; */
   padding-left: 15px;
   font-size:12px;
}

.main-para>p {
    text-align: left;
    font-weight: bold;
    font-size: 20px;

}
.main-para{
    
    justify-content: center;
    border-bottom: 1px solid white ;
    box-shadow: 0px 2px whitesmoke ;
}


.form-container{

    display: grid;
    grid-template-columns: 40% 60%;
    /*grid-column-gap: 2px; */
}
.form{
    padding-left: 10px;
}
input {
    border: 1px solid #E5E7EB;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
    height: 1.5rem;
    width: 75%;
}
input:focus{
   
    box-shadow: 2px 2px green;
    border-color: red;
   
}

.main-form>div{
    background-color: white;
}
.main-form{
    border-bottom: 1px solid white ;
    box-shadow: 0px 2px whitesmoke ;
}

.btn > button{
    
    width: 200px;
    height:3rem;
    border-radius: 8px;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    
}
.btn > button:hover{
 cursor: pointer;
}
.btn{
    padding-top: 20px;
    padding-left: 10px;
    
    
}
a:link{
  color:#596D48;
}